<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sssta.ganmaqu"
    android:versionCode="20131229"
    android:versionName="0.8.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 使用网络功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <!-- SDK离线地图和cache功能需要读写外部存储器 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <!-- 获取设置信息和详情页直接拨打电话需要以下权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE" >
    </uses-permission>
    <!-- 使用定位功能所需权限,demo已集成百度定位SDK,不使用定位功能可去掉以下6项 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </permission>

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name="com.sssta.ganmaqu.DemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light" >
        <activity
            android:name="com.sssta.ganmaqu.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.sharesdk.framework.ShareSDKUIShell"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >

            <!--
          Adapter继承自 
          cn.sharesdk.framework. authorize.AuthorizeAdapter， 
          可以监听到页面的生命周期，也能获取页面的各种UI控件
          开发者可以通过继承AuthorizeAdapter，重写其方法， 
          并获取各种UI来自定义这个页面的行为。 
            -->
            <meta-data
                android:name="Adapter"
                android:value="cn.sharesdk.demo.MyAdapter" />
        </activity>
        <!--
            <activity
            android:name="com.sssta.ganmaqu.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        -->

        <activity
            android:name="com.sssta.ganmaqu.WarpDSLV"
            android:label="@string/title_activity_result" >
        </activity>
        <activity
            android:name="com.sssta.ganmaqu.MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name="com.sssta.ganmaqu.WebActivity"
            android:label="@string/title_activity_web" >
        </activity>
        <activity
            android:name="com.sssta.ganmaqu.RouteListActivity"
            android:label="@string/title_activity_route_list" >
        </activity>
        <activity
            android:name="com.sssta.ganmaqu.RouteReviewActivity"
            android:label="@string/title_activity_route_review" >
        </activity>
        <activity
            android:name="com.sssta.ganmaqu.DislikeActivity"
            android:label="@string/title_activity_dislike" >
        </activity>
        <activity
            android:name="com.sssta.ganmaqu.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.sssta.ganmaqu.NewMapActivity"
            android:label="@string/title_activity_new_map" >
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <activity
            android:name="com.sssta.ganmaqu.ShareActivity"
            android:label="@string/title_activity_share" >
            <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
        </activity>
        <activity
            android:name="com.sssta.ganmaqu.DetailActivity"
            android:label="@string/title_activity_detail" >
        </activity>
        <activity
            android:name="com.sssta.ganmaqu.GuideActivity"
            android:label="@string/title_activity_detail" >
        </activity>
        <activity
            android:name="com.sssta.ganmaqu.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="com.sssta.ganmaqu.PoiSearchActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="com.sssta.ganmaqu.SelectCityActivity"
            android:label="@string/title_activity_select_city" >
        </activity>
    </application>

</manifest>